.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  border-style:solid;
  border-radius: 6px;
  border-collapse: collapse;
}

tr {
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  height: 8vh;
  min-width: 80vw;
  cursor: pointer;
}
tr:hover {
  background-color: #858992b0;
}
td {
  width: 27vmin;
  padding: 5px;
}

button {
  padding: 4px;
  background-color: grey;
}

.details {
  max-width: 90vw;
  overflow-wrap: break-word;
  font-size: calc(5px + 2vmin);
}
